<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<% include partials/head %> 
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
        <% include partials/header %> 

				<!-- Menu -->
        <% include partials/menu %> 

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>This is Phantom, a free, fully responsive site<br />
								template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>
								<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
							</header>
							<section class="tiles">


								<% listadoPosts.forEach((post, index) => { %>

									<article class="style <%= (index + 1) %>  ">
										<span class="image">
											<img src="images/pic01.jpg" alt="" />
										</span>
										<a href="generic.html">
											<h2> <%= post.title %> </h2>
											<div class="content">
												<p>
													<%= post.content %> 
												</p>
											</div>
										</a>
									</article>

								<% }) %>

									

							
							</section>
						</div>
					</div>

				<!-- Footer -->
        <% include partials/footer %> 

			</div>

		<!-- Scripts -->
    <% include partials/scripts %> 

	</body>
</html>